
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* html,body
{
    height:100%;
    width:100%;
} */


/* -----------------------------styling navbar------------------------------------------------------------------- */
header{
    position:sticky;
    top:0px;
    z-index: 2;
}

.nav-bar
{
    display:flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* background-color: antiquewhite; */
    /* position: sticky;
    top:10px; */
    cursor: pointer;
    /* background-color: rgba(87, 84, 84, 0.669); */
}

.nav-list{
    width:50%;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    /* font-size: 39px; */
}

.nav-list li
{
    list-style-type: none;
    padding: 27px 35px;
    /* font-size: 39px; */
}

.nav-list li a{
    text-decoration: none;
    color:white;
    font-family: 'Ubuntu',sans-serif;
}

.nav-list li a:hover{
    color:grey;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    margin-left: 2%;
}

.logo img
{
    height:50px;
    max-width:50px;
    border:2px solid white;
    border-radius: 50%;
    /* margin: 30px 10px; */
}

.nav-bar-right
{
    width:50%;
    text-align: right;
    padding-right: 16px;
}


.background
{
    /* background-color: yellow; */
    background: rgba(0,0,0,0.7) url('images/background.jpg');
    /* background-image: url('images/background.jpg'); */
    background-size: cover;
    background-blend-mode: darken;
    /* background-blend-mode: lighten; */
}

.background1{
    background: rgba(0,0,0,0.7) url('images/background-cropped.jpg');
    /* background-image: url('images/background.jpg'); */
    background-size: cover;
    background-blend-mode: darken;
}

/* button
{
    font-size: 40px;
} */

#search{
    padding: 5px;
    /* font-size:17px; */
    border:2px solid gray;
    border-radius: 9px;
    color:rgb(108, 108, 108);
}

.burger{
    display:none;
    position: absolute;
    right:5%;
    top:15px;
    cursor: pointer;
}

.line{
    width:26px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}



/* ------------------------------------------------------------------------------------------------------------ */

/* -----------------------------------------------styling the first section of main content-------------------- */

.first-section{
    height:100vh;
    display:flex;
    flex-direction: column;
}

.mainbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    margin-top:0;
    max-width: 70%;
    height:80%;
}

/* .mainbox:hover{
    box-shadow: 4px 4px 2px 4px grey;
} */

.firsthalf
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:60%;
    height:80%;
}

.secondhalf
{
    width:30%;
    /* height: 70%; */
    display: block;
    margin:auto;
    /* margin-top:0; */
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.secondhalf img
{
    border:2px solid black;
    border-radius:50%;
    /* height: 70%;
    width: 120%; */
    width:100%;
    height:auto;
    margin-top: 10px;
    max-height: 241.823px;
    max-width:322.552px;

    min-height: 155.438px;
    min-width: 207.333px;
}

.text-big
{
    font-family: 'Noto Sans',sans-serif;
    font-weight: 400;
    font-size: 3rem;
    padding: 10px;
    /* text-align: justify; */
}

.text-small
{
    font-family: 'Noto Sans',sans-serif;
    font-weight: 10;
    font-size: 0.8rem;
    padding:10px;
    /* text-align: justify; */
}

.btn{
    padding: 8px 20px;
    margin:7px 0;
    border:2px solid white;
    border-radius:8px;
    background:none;
    color:white;
    cursor:pointer;
    /* text-align: justify; */
}

.Comment,.btn-sm{
    margin-left: 10px;
    vertical-align: middle;
}

.btn-sm{
    border-radius: 20px;
    background-color: antiquewhite;
    color:darkgoldenrod;
}

.btn:hover{
    background-color: white;
    color:black;
}

.btn-sm:hover{
    background-color: darkgray;
}

.buttons
{
    padding-left: 8px;
}

/* .thumbnail{
    height: 100%;
    width: 100%;
} */

/* -------------------------------------------------------------------------------------------------------------*/

/* --------------------------------styling main section of the website------------------------------------------*/

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 365px;
    max-width: 80%;
    box-shadow: 2px 2px 2px 3px lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.para{
    padding: 0px 25px;
    width:210%;
}

.title{
    font-size: 2rem;
}

.thumbnail{
    max-width: 100%;
    height: auto;
    margin-bottom: -0.4em;
    margin-right:10px;
    /* object-fit: contain; */
}

.img-fluid
{
    /* height:216.667px; */
    width: 100%;
    /* padding-right:10px ; */
    padding-left:10px ;
    max-width:95%;
    height:auto;
    top:0px;
    /* //make the image responsive */
    
}

.main-section-second{
   flex-direction: row-reverse;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------Contact Us---------------------------------------------------- */

/* .br{
    background-color: black;
    border: none ;
} */

.contact{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f6f5f4;
    height:100%;
    font-family: 'Ubuntu',Helvetica, sans-serif;
    font-size:1.29rem;
}

.text-center
{
    text-align: center;
    padding-bottom:3%;
}

.form{
    max-width:650px;
    /* max-width: 70%; */
    margin: auto;
    padding: 0 20px;
    /* margin:42px auto */
}
 
.form input{
    margin: 14px 0;
    padding: 5px 3px;
    width:100%;
    font-size:19px;
    border:3px solid lightgray;
    border-radius: 7px;
    cursor: pointer;
}

.form-input{
    margin: 14px 0;
    padding: 5px 3px;
    width:100%;
    font-size:19px;
    border:1.5px solid lightgray;
    border-radius: 7px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(131 131 131);
    cursor: pointer;
    outline: none;
}

.btn-dark{
    color:black;
    border:1.5px solid black;
    margin: auto;
    display: block;
    background-color:rgb(205, 202, 202);
    /* box-shadow: 1px 1px 0.8px 2px darkgray; */
}

.btn-dark:hover{
    box-shadow: 1px 1px 1.7px 1px darkgray;
}

.hover:hover{
    box-shadow: 1.5px 1.5px 1.5px 2px rgba(129, 129, 129, 0.7);
}

footer{
    color:whitesmoke;
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the top mentors section */

.top-mentors{
    /* height: 100vh; */
    height: 100vh;
    background-color: #F4EEE0;
}

.top-mentors h1{
    margin:auto;
    height: 15%;
    width: 20%;
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans',sans-serif;
    font-weight: 600;
    font-size: 2em;
}

.carousel-slider{
    height:auto;
    /* background-color: rgb(255, 250, 244); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:80%;
    margin:auto;
}

.card .image{

    height:140px;
    width: 140px;
    border-radius: 50%;
    padding:3px;
    background:black;
}

.card .image img{

    height:100%;
    width:100%;
    aspect-ratio: 1;
    object-fit:cover;
    border-radius: 50%;
    border:3px solid whitesmoke;
}

.card::before{
    content: "";
    position: absolute;
    height:40%;
    width:100%;
    border-radius: 20px 20px 0 0;
    background:#1d2433;
}

.card{
    position: relative;
    background:whitesmoke;
    border-radius: 20px;
    /* width:280px; */
    width:95%;
    box-shadow: 2px 3px 6.8px 2px rgba(138, 135, 135, 0.623);
    /* max-width: 300px; */
    /* remove max-width and make width 100% */
}

.card .card-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.card .media-icons{

    position:absolute;
    top:10px;
    right:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i{

    color:white;
    margin-top: 10px;
    opacity:0.8;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover{
    opacity: 1;
}

.card .name-profession{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    color:#1d2433;
}

.name-profession .name{
    font-size: 1.2rem;
    font-weight:580;
    font-family: 'Ubuntu',sans-serif;
    padding-bottom: 0.4rem;
}

.name-profession .profession{
    font-weight:200;
    font-size: 0.7rem;
    font-family: 'Ubuntu',sans-serif;
    padding-bottom: 0.345rem;
}

.card .rating{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin:0 20px;
}

.card .rating i{
    font-size:18px;
    color:#1d2433;
}

.card .button-card{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.card .button-card button{

    background-color:#1d2433;
    outline: none;
    border: none;
    color: white;
    padding:8px 22px;
    border-radius:20px;
    font-size:0.8rem;
    cursor:pointer;
    transition: all 0.3s ease;
}

.button-card button:hover{
    background: #2737eaad;
}


/* Style the slider */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  @media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
      transition: transform 100ms;
    }

    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
      /*transform: translateX(50%);*/
      z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
      /*transform: translateX(55%);*/
      z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
}


.swiper-pagination-bullet {
    cursor: pointer;
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #1d2433;
}


.swiper-wrapper{

    padding-bottom:5rem;
    padding-top: 3rem;
}

.swiper-button-prev{

    color:#1d2433;
    opacity: 0.85;
    font-weight: 580;
}

.swiper-button-prev:hover{

    color:#1d2433;
    opacity: 1;
    transform: scaleZ(1);
    transition: all 0.3s ease;
}

.swiper-button-next{

    color:#1d2433;
    opacity: 0.85;
    font-weight: 580;
}